* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Josefin Sans", sans-serif;
  color: hsl(234, 39%, 85%);
  background-color: hsl(235, 21%, 11%);
}
.container {
  min-height: 100vh;
  position: relative;
  background-image: url("images/bg-desktop-dark.jpg");
  background-repeat: repeat-x;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 300px;
}
.edit-window {
  background-color: hsl(234, 39%, 85%);
  height: 170px;
  width: 340px;
  position: relative;
  top: 50px;
  border-radius: 8px;
  z-index: -1;
}
.edit-window .edit,
.edit-window .close {
  margin: 30px 25px 0 10px;
  border-radius: 4px;
  border: 1px groove hsl(235, 21%, 11%);
  font-size: 14px;
  color: hsl(235, 21%, 11%);
  padding: 6px 15px;
  float: right;
}
.edit-window h2 {
  text-align: center;
  color: hsl(235, 21%, 11%);
  padding: 15px 10px;
}
.newTodo {
  border: none;
  outline: none;
  width: 300px;
  padding: 10px;
  color: hsl(233, 14%, 35%);
  margin-left: 18px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif !important;
}
.heading {
  display: flex;
  align-items: center;
  width: 340px;
  justify-content: space-between;
}
.heading h1 {
  font-size: 38px;
  padding: 15px;
}

.new-todo {
  background-color: hsl(235, 24%, 19%);
  padding: 15px 100px 15px 15px;
  border-radius: 6px;
  display: flex;
  margin-top: 30px;
}
.new-todo-content {
  background-color: hsl(235, 24%, 19%);
  padding-left: 15px;
  font-size: 18px;
  border: none;
  outline: none;
  color: hsl(234, 39%, 85%);
  font-family: "Josefin Sans", sans-serif !important;
  font-weight: 400;
}

.todo-list {
  background-color: hsl(235, 24%, 19%);
  padding: 15px;
  margin-top: 20px;
  min-width: 340px;
  max-width: 340px;
  box-shadow: 10px 10px 10px 10px hsl(235, 27%, 10%);
}
.list {
  list-style-type: none;
  padding-left: 0;
}
.btn-unchecked {
  background-color: hsl(235, 24%, 19%);
  border: 1px solid hsl(234, 39%, 85%);
  border-radius: 50%;
  width: 17px;
  height: 17px;
}
.checked {
  background-image: url("images/icon-check.svg"),
    linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-position-y: center;
  background-position-x: center;

  background-repeat: no-repeat;
}
.done {
  text-decoration: line-through;
  opacity: 40%;
}
.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 15px;
}

.work {
  font-size: 16px;
  padding: 15px;
  padding-left: 20px;
  white-space: "pre-wrap";
  overflow: hidden;
}
.dlt-btn {
  padding: 0 8px;
}
.edit-btn {
  padding: 0 8px;
}
.btnAndWork {
  display: flex;
}
.btns {
  display: flex;
}
.hidden {
  opacity: 0%;
}

.comp-status {
  text-align: center;
  font-size: 12px;
  padding-top: 20px;
  cursor: pointer;
}
.comp-status span {
  padding-left: 4px;
  padding-right: 4px;
}
.comp-status span:hover {
  color: hsl(234, 11%, 52%);
  cursor: pointer;
}
